@import "tailwindcss";

@theme {
  --color-amazon-navy: #131921;
  --color-amazon-navyLight: #232F3E;
  --color-amazon-orange: #FF9900;
  --color-amazon-orangeLight: #FEBD69;
  --color-amazon-teal: #007185;
  --color-amazon-yellow: #F3A847;
  --color-amazon-lightGray: #EAEDED;
  --color-amazon-textPrimary: #0F1111;
}

body {
  background-color: var(--color-amazon-lightGray);
  color: var(--color-amazon-textPrimary);
}
